<body >



<div class="myInfo">
  <div class="playerInfo">
    <h1>{{player.surname}}</h1>
    <h2>{{player.name}}</h2>

    <div class="firstInfo">

    <div>
      Gole
      <i class="fa fa-soccer-ball-o" style="font-size:36px"></i>
      {{player.goals}}
    </div>

    <div>
      Asysty
      <i class="fa fa-soccer-ball-o" style="font-size:36px; color: #7f98d3"></i>
      {{player.assists}}
    </div>

    <div class="pitchIcon">
Mecze
      <img src= "../../assets/pitch_icon.png" alt="pitch icon">
    </div>
    </div>


    <div class="secondInfo">
      <div class="cardIcon">

      </div>

      <div class="cardIcon">
Żółte kartki
        <img src= "../../assets/yellowCard.jpg" alt="yellow card">
{{player.yellowCards}}
      </div>

      <div>
        Czerwone kartki



        <img src= "../../assets/redCard.jpg" alt="red card">
{{player.redCards}}
      </div>

    </div>
  </div>



</div>





</body>
