<p>table works!</p>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Miejsce</th>
    <th scope="col">Drużyna</th>
    <th scope="col">M</th>
    <th scope="col">W</th>
    <th scope="col">R</th>
    <th scope="col">P</th>
    <th scope="col">+</th>
    <th scope="col">-</th>
    <th scope="col">-/+</th>
    <th scope="col">PKT</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let team of teams;let indexOfTeams=index">
    <th>{{indexOfTeams+1}}</th>
    <td  class="pointer" [routerLink]="['/team', team.id]">  {{team.name}} </td>
    <td>{{team.win + team.lose + team.draw}}</td>
    <td>{{team.win}}</td>
    <td>{{team.draw}}</td>
    <td>{{team.lose}}</td>
    <td>{{team.goalsScored}}</td>
    <td>{{team.goalLost}}</td>
    <td>{{team.goalsScored - team.goalLost}}</td>
    <td>{{team.win*3 + team.draw}}</td>

  </tr>

  </tbody>
</table>
