
.team{

  border-radius: 10px;
  background: snow;
  display: inline-block;
  padding: 20px;

}


.teamForm{
  padding: 3%;

}
.spinnerAndInfo{
  display: none;
}

table-dark{
  border-radius: 10px;
}

.matSpinnerInfo{

  margin-left: auto;
  margin-right: auto;

  background: snow;
  border-radius: 10px;
  display: inline-block;
}

body{
  background-image: url( "../../assets/backgraund.jpg");

}
