.alert {
  color: red;
}

.player{

  border-radius: 10px;
  background: snow;
  display: inline-block;
  padding: 20px;

}


.playerForm{
  padding: 3%;

}

body{
  background-image: url( "../../assets/backgraund.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
