body{
  background-image: url( "../../assets/backgraund.jpg");
  min-width: 1980px;
  background-repeat: repeat;
  background-attachment: fixed;
  height: auto;
}

h1 {
  padding: 1%;

}

.teamTemplate{
  padding: 2%;
  position: center;

}

.team{
  padding: 2%;
  display: inline-block;
  background: whitesmoke;
  border-radius: 20px;
}

h2{
  padding: 1%;

}

.pointer{
  cursor: pointer;
}
